$panel-background-color: rgba(9, 33, 43, .7);
$panel-border-color: rgba(35, 213, 217, .5);
$font-color-bright: rgb(150, 150, 150);
$glow-color: rgb(50, 255, 50);
$transition-time: .25s;
$font-family: 'Share Tech Mono', monospace;

@mixin panel-background-color($alpha: .7) {
	background: rgba(9, 33, 43, $alpha);
}

* {
	box-sizing: border-box;
}

.font-very-small {
	font-family: $font-family;
	font-size: 10px;
}

.font-small {
	font-family: $font-family;
	font-size: 12px;
}

.font-medium {
	font-family: $font-family;
	font-size: 14px;
}

.font-big {
	font-family: $font-family;
	font-size: 16px;
}

.font-very-big {
	font-family: $font-family;
	font-size: 18px;
}

button {
	@extend .font-medium;
	@extend .fc-clickable;
	background-color: #323232;
	color: $font-color-bright;
	transition: text-shadow $transition-time, color $transition-time;
	border: none;
	border-radius: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;

	&:hover {
		text-shadow: 0 0 10px $glow-color;
		color: black;
	}

	&:hover:disabled {
		text-shadow: 0 0 10px red;
	}

	&:focus {
		outline: none;
	}
}

input {
	@extend .font-medium;
	background-color: $panel-background-color;
	border: solid thin $panel-border-color;
	color: $font-color-bright;
	transition: box-shadow $transition-time, border-color $transition-time;
	padding: 7px 5px;

	&:focus {
		box-shadow: 0 0 15px $glow-color;
		border-color: $glow-color;
		outline: none;
	}
}

.input-error {
	border-color: red;
}

.fc-panel {
	background-color: $panel-background-color;
	border: solid thin $panel-border-color;
	color: whitesmoke;
}

.fc-clickable {
	cursor: pointer;
}

.fc-link {
	@extend .fc-clickable;
	transition: text-shadow $transition-time;

	&:hover {
		text-shadow: 0 0 15px $glow-color;
	}
}
